*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#111;
    color:white;
}

.hero{
    position:relative;
    width:100%;
    min-height:100vh;

    background-image:url("pier.jpeg");
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.55);
    backdrop-filter:brightness(.8);
}

.conteudo{
    position:relative;
    z-index:2;

    width:90%;
    max-width:700px;

    padding:40px 20px;
}

.logo{
    width:180px;
    max-width:80%;
    margin-bottom:25px;

    filter:drop-shadow(0 8px 20px rgba(0,0,0,.45));
}

h1{
    font-size:3rem;
    margin-bottom:15px;

    text-shadow:0 5px 15px rgba(0,0,0,.5);
}

.slogan{
    font-size:1.2rem;
    line-height:1.7;
    color:#ececec;

    margin-bottom:40px;
}

.botoes{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.botao{
    display:block;

    text-decoration:none;

    background:rgba(255,255,255,.12);

    color:white;

    padding:18px;

    border-radius:15px;

    font-size:1.1rem;
    font-weight:bold;

    transition:.30s;

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.2);
}

.botao:hover{

    transform:translateY(-3px);

    background:#f7941d;

    color:white;

    box-shadow:0 10px 30px rgba(247,148,29,.45);

}

.principal{
    background:#0d6efd;
}

.principal:hover{
    background:#0b5ed7;
}

.botoes a:nth-child(2){
    background:#25D366;
}

.botoes a:nth-child(2):hover{
    background:#1da851;
}

.botoes a:nth-child(3){
    background:#EA1D2C;
}

.botoes a:nth-child(3):hover{
    background:#c81926;

}

#cardapio{

    background:#ffffff;

    color:#222;

    padding:80px 20px;

    text-align:center;

}

#cardapio h2{

    font-size:2.2rem;

    margin-bottom:20px;

}

#cardapio p{

    font-size:1.1rem;

    max-width:700px;

    margin:auto;

    line-height:1.7;

}

footer{

    background:#111;

    padding:35px 20px;

    display:flex;

    flex-direction:column;

    gap:18px;

    text-align:center;

}

footer a{

    color:white;

    text-decoration:none;

    font-size:1rem;

}

footer a:hover{

    color:#f7941d;

}

@media (max-width:768px){

    h1{

        font-size:2.2rem;

    }

    .logo{

        width:150px;

    }

    .botao{

        font-size:1rem;

        padding:16px;

    }
.informacoes{

    margin-top:30px;

    display:flex;

    flex-direction:column;

    gap:15px;

}

.informacoes a{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:white;

    font-size:1rem;

    font-weight:bold;

    transition:.3s;

}

.informacoes a:hover{

    color:#f7941d;

}

.icone-social{

    width:24px;

    height:24px;

}
